*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    padding: 20px;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.row_{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col_2{
    flex-basis: 50%;
    min-width: 300px;
}
.col_2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col_2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
}
.butn{
    display: inline-block;
    background: #ff423b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.butn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col_3{
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
}
.col_3 img{
    width: 100%;
}
.small_container{
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.col_4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col_4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col_4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff423b;
}
.col_4:hover{
    transform: translateY(-5px);
}
/* ----------offer--------------*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    padding: 30px 0;
    margin-top: 80px;
}
.col_2 .offer_img{
    padding: 50px;
}
small{
    color: #555;
}

/* -----------testimonials------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col_3{
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col_3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col_3:hover{
    transform: translateY(-10px);
}
.fa-quote-left{
    font-size: 30px;
    color: #ff523b;
}
.col_3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col_3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*--------brands------------*/

.brands{
    margin: 100px auto;
}
.col_5{
    width: 160px;
}
.col_5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col_5 img:hover{
    filter: grayscale(100%);
}
/*-----footer----------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer_col_1, .footer_col_2, .footer_col_3, .footer_col_4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer_col_1{
    flex-basis: 30%;
}
.footer_col_2{
    flex: 1;
    text-align: center;
}
.footer_col_2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer_col_3, .footer_col_4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app_logo{
    margin-top: 20px;
}
.app_logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
/*-------------menu---------------*/
.menu-icon{
    width: 15px;
    margin-left: 10px;
    display: none;
}
/*-----All products----------------*/
.row_2{
    padding: 20px;
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page_btn{
    margin: 0 auto 80px;
}
.page_btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page_btn span:hover{
    background: #ff523b;
    color: #fff;
}
/*-------------media query for less than 600px--------------*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col_2, .col_3, .col_4{
        flex-basis: 100%;
    }
}

/*------------Single Product details-------------------------*/
.single_product{
    margin-top: 80px;
}
.single_product .col_2 img{
    padding: 0;
}
.small_container input{
    border:1px solid #ff523b;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 22px;
    margin-right: 10px;
}
.single_product .col_2{
    padding: 20px;
}
.single_product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single_product select{
    display: block;
    padding: 10px;
    margin: 20px;
}
input:focus{
    outline: none;
}
.single_product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small_img_row{
    display: flex;
    justify-content: space-between;
}
.small_img_col{
    flex-basis: 24%;
    cursor: pointer;
}
.single_product .btn{
    text-align: center;
}
/*------------cart items---------------*/
.cart_page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart_info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    border:1px solid #ff523b;
    border-radius: 10px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}
td img:hover{
    transform: translateY(-1px);
}
.total_price{
    display: flex;
    justify-content: flex-end;
}
.total_price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.btn-decre, .btn-incre{
    box-shadow: none;
    font-size: 25px;
}


/*-----------account page-------------*/


.account_page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form_container{
    background: #fff;
    width: 300px;
    height: 600px;
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.form_container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form_btn{
    display: inline-block;
}
.form_container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 50px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .butn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .butn:focus{
    outline: none;
}
#login_form{
    left: 0px;
}
#registration_form{
    left: -300px;
}
form a{
    font-size: 12px;
}
#form_indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 3s;
}
/*-------------Tracking order------------------*/
.track{
    background: radial-gradient(#fff,#ffd6d6);
}
.order_progress{
    margin: 150px auto;
}
.order_progress img{
    width: 50px;
}
.order_progress ul{
    text-align: center;
}
.order_progress ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}
.order_progress ul li .fa{
    background: #ccc;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    margin-bottom:  5px;
}
.order_progress ul li .fa::after{
    content: '';
    background: #ccc;
    height: 5px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
}

.order_container{
    max-width: 100%;
    padding: 40px;
    margin: 0 30px;
    background: #fff;
    position: relative;
    background: radial-gradient(#fff,#ffd6d6);
}
.details{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order h1{
    text-transform: uppercase;
}
/*-------------media query for menu-------------*/

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .single_product .row{
        text-align: left;
    }
    .single_product .col_2{
        padding: 20px 0;
    }
    .single_product  h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart_info p{
        display: none;
    }
}